APP_PORT=8000
MYSQL_PORT=3306
# Xdebug: listen on host port 9001. For every-request debugging, set:
# XDEBUG_CONFIG=client_host=host.docker.internal client_port=9001 start_with_request=yes
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=blog
